@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.bootstrap-override.container-fluid  {
  padding: 0;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  display: flex;
}
#nav-header {
  text-align: center;
}
#sidebar {
  text-align: center;
  font-size: 0.7em;
  width: 250px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
}

#main {
  display: flex;
}

#right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comments {
}