<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Singapore Finance Page</title>
    <link href="style.css" rel="stylesheet" />
    <!--Bootstrap core CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <meta
      name="description"
      content="A finance page covering topics related to finance in Singapore"
    />
    <meta name="keywords" content="angelhack finance singapore" />
    <meta charset="utf-8" />
    <!-- this sets the width of the page to follow screen-width of device, and sets the initial zoom level when page is first loaded-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- bootstrap requires a containing element to wrap site contents in the grid system-->
    <!-- this creates a responsive full-width page-->
    <div class="container-fluid bootstrap-override">
      <!--NavBar-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-override"
      >
        <a class="navbar-brand" href="#">Singapore Finance Page</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#" onclick="home()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <% if (!user) { %>
        <!--Profile pic with link to login.html if user is logged out-->
        <a href="/login">
          <img
            class="float-right profileicon"
            src="profilepic2.png"
            alt=""
            width="47"
            height="40"
          />
        </a>
        <% } else { %>
        <!-- Remove everything in this else block when we have a proper logout and profile icon -->
        <div class="d-flex align-items-center">
          <p class="mb-0" style="margin-right: 5px"><%= user.username %></p>
          <!-- If not logged in show them the signout button (TODO)-->
          <form action="/logout" method="post">
            <input
              class="logout"
              type="image"
              src="icons8-logout-50.png"
              onmouseover="this.src='icons8-logout.gif'"
              onmouseout="this.src='icons8-logout-50.png'"
            />
          </form>
        </div>
        <% } %>
      </nav>
      <!-- End of top navbar-->
      <main id="main">
        <!-- Side navbar, use list items for each topic-->
        <div class="wrapper">
          <nav id="sidebar" class="navbar-light bg-light">
            <ul class="list-unstyled components">
              <p id="nav-header">Navigation</p>
              <li class="active">
                <a
                  href="#homeSubmenu"
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle"
                  >Basics</a
                >
                <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a href="#" onclick="topic1()" id="budgetting"
                      >Budgetting</a
                    >
                  </li>
                  <li>
                    <a href="#" onclick="topic2()" id="income-and-expenses"
                      >Income and Expenses</a
                    >
                  </li>
                  <li>
                    <a href="#" onclick="topic3()" id="saving">Saving</a>
                  </li>
                </ul>
              </li>
            </ul>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="backToTop()"
            >
              Back to top
            </button>
          </nav>
        </div>
        <!-- End of side navbar, start of displayed contents-->
        <div class="container-fluid bootstrap-override" id="right-container">
          <div class="container-fluid m-0 pl-4 pr-4 pt-1" id="content">
            <h2 style="margin-bottom: 10px">
              Financial Independence, Retire Early!
            </h2>
            <p>
              Welcome to Singapore Finance Page, where we aim to source for,
              verify and curate financial information relevant within the
              Singapore context. For starters, click on any of the topics below,
              or go through the side bar for a comprehensive zero-to-hero
              breakdown of how to start your financial journey!
            </p>
            <!-- FOR FUTURE CARD BASED CONTENT -->
          </div>
          <!-- End of contents, start of comments-->

          <div class="container-fluid m-0 mt-2 pl-4 pr-4 pt-2" id="comments">
            <div class="line"></div>
            <!-- tell the user they need to login to comment-->
            <% if (!user) { %>
            <textarea
              class="form-control"
              id="commentsBox"
              rows="3"
              placeholder="You have to be logged in to comment..."
              disabled
            ></textarea>
            <button
              type="submit"
              class="btn btn-secondary"
              id="postbtn"
              disabled
            >
              POST COMMENT
            </button>

            <% } else { %>

            <form
              style="margin-bottom: 15px"
              action="/postComment"
              method="post"
            >
              <textarea
                class="form-control"
                id="commentsBox"
                rows="3"
                maxlength="300"
                placeholder="Leave a comment..."
                name="commentContent"
              ></textarea>
              <!-- This input field represents which subtopic the user is currently on! -->
              <input
                type="hidden"
                id="postDistinguisher"
                name="postDist"
                value="0"
              />
              <input
                type="hidden"
                id="dateTracker"
                name="dateTime"
                value="<%= new Date().toISOString().slice(0, 19).replace('T', ' ') %>"
              />
              <input
                type="hidden"
                id="nameTracker"
                name="userPosted"
                value="<%= user.username %>"
              />
              <button type="submit" class="btn btn-success" id="postbtn">
                POST COMMENT
              </button>
            </form>
            <% } %>
            <div class="d-flex justify-content-between line">
              <p
                style="
                  margin-bottom: 9px;
                  position: relative;
                  top: 10px;
                  border-bottom: 2px solid #00b38f;
                "
              >
                <span>0</span> Comments
              </p>
              <select
                class="form-control"
                style="width: auto; border-bottom: 2px solid rgb(50, 50, 50)"
                id="sortingCriteria"
              >
                <option>Newest</option>
                <option>Popular</option>
              </select>
            </div>
            <!-- Actual comments -->
            <div class="row d-flex justify-content-center">
              <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card" style="margin-bottom: 20px">
                  <div class="card-body">
                    <div>
                      <h6 class="fw-bold text-primary mb-1">ElijahsMom</h6>
                      <p class="text-muted small mb-0">
                        March 27, 2023 12:38 am
                      </p>
                    </div>
                    <p class="mt-3 mb-4 pb-2">
                      the comments section needs to change dynamically when you
                      switch between topics
                    </p>
                    <div class="d-flex justify-content-end">
                      <% if (!user) { %>
                      <div class="d-flex">
                        <p>0 (or whatever server number)</p>
                        <img
                          src="fire.png"
                          onclick="alert('willcreateaspecialpopup asking people to signin')"
                        />
                      </div>
                      <% } else { %>
                      <form
                        method="POST"
                        onsubmit="return false;"
                        id=""
                        class="d-flex"
                      >
                        <p class="mb-0 likesCount">0</p>
                        <input
                          type="image"
                          src="fire.png"
                          class="voteButton inactive"
                          alt="vote"
                        />
                      </form>
                      <% } %>
                    </div>
                  </div>
                </div>

                <div class="card" style="margin-bottom: 20px">
                  <div class="card-body">
                    <div>
                      <h6 class="fw-bold text-primary mb-1">ElijahsDad</h6>
                      <p class="text-muted small mb-0">
                        February 69, 2027 00:78 pm
                      </p>
                    </div>
                    <p class="mt-3 mb-4 pb-2">my dog stepped on a bee :(</p>

                    <div class="d-flex justify-content-end">
                      <% if (!user) { %>
                      <div class="d-flex">
                        <p>3</p>
                        <img
                          src="fire.png"
                          onclick="alert('guessWhoYourMumSawLastNight')"
                        />
                      </div>
                      <% } else { %>
                      <form
                        method="POST"
                        onsubmit="return false;"
                        id=""
                        class="d-flex"
                      >
                        <p class="mb-0 likesCount">4</p>
                        <input
                          type="image"
                          src="fire.png"
                          class="voteButton inactive"
                          alt="vote"
                        />
                      </form>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- This is the end of the comment thread -->
            </div>
          </div>
          <!-- End of comments-->
        </div>
        <!-- End of contents -->
      </main>
      <!-- End of page -->
    </div>
    <!--Some bootstrap components require these js scripts to function-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="buttonLogic.js"></script>
    <script src="script.js"></script>
  </body>
</html>
