html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.navbar-override {
  --bs-navbar-padding-x: 1.5rem !important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#specialEffects ul li {
  position: absolute;
  width:35px;
  height:35px;
  list-style:none;
  opacity:0;
  background:radial-gradient(MediumSlateBlue,transparent,transparent);
  bottom:0;
  left:10vw;
  animation: animate 8s linear infinite;
  z-index: -1;
}

#specialEffects ul li:nth-child(2) {
  left: 37vw;
  animation-delay: 2s;
}
#specialEffects ul li:nth-child(3) {
  left: 25vw;
  animation-delay: 3s;
}
#specialEffects ul li:nth-child(4) {
  left: 60vw;
  animation-delay: 4s;
}
#specialEffects ul li:nth-child(5) {
   left: 74vw;
   animation-delay: 5s;
 }
#specialEffects ul li:nth-child(6) {
  left: 19vw;
  animation-delay: 6s;
}
#specialEffects ul li:nth-child(7) {
  left: 62vw;
  animation-delay: 7s;
}

@keyframes animate {
  0%{
    transform:scale(0);
    opacity:1;
    bottom:0;
  }
  100%{
    transform:scale(10);
    opacity:0;
    bottom:100vh;
  }
}
