@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.bootstrap-override.container-fluid {
  padding: 0;
}
.navbar-override {
  --bs-navbar-padding-x: 1.5rem !important;
}
.wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  display: flex;
}
#nav-header {
  text-align: center;
}
#sidebar {
  padding-top: 50px;
  text-align: center;
  font-size: 0.7em;
  width: 250px;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
}

#main {
  display: flex;
}

#right-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

#postbtn {
  top: 100px;
  margin-top: 10px;
  width: auto;
  font-size: 10px;
}

.line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  margin-bottom: 30px;
}

#commentsBox {
  transition: 0.5s;
}

#commentsBox:not([disabled]):hover,
#commentsBox:not([disabled]):focus {
  background-color: rgb(230, 230, 230);
  transition: 0.3s;
}

.logout {
  height: 20px;
  margin-top: 5px;
}

img[src="fire.png"],
input[src="fire.png"] {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  filter: grayscale(100%);
}

.voteButton:not(.inactive) {
  filter: grayscale(0%);
}

#vote {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
