@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.bootstrap-override.container-fluid {
  padding: 0;
}
.navbar-override {
  --bs-navbar-padding-x: 1.5rem !important;
}
.wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  display: flex;
}
#nav-header {
  text-align: center;
}
#sidebar {
  padding-top: 50px;
  text-align: center;
  font-size: 0.7em;
  width: 250px;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
}

#main {
  display: flex;
}

#right-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

#postbtn {
  top: 100px;
  margin-top: 10px;
  width: auto;
  font-size: 10px;
}

.line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  margin-bottom: 30px;
}

#commentsBox {
  transition: 0.5s;
}

#commentsBox:not([disabled]):hover,
#commentsBox:not([disabled]):focus {
  background-color: rgb(230, 230, 230);
  transition: 0.3s;
}

.logout {
  height: 20px;
  margin-top: 5px;
}
/*
img[src="img/fire.png"],
input[src="img/fire.png"] {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 10px;
  filter: grayscale(100%);
}
*/

#fire {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 10px;
  filter: grayscale(100%);
}

.voteButton {
  border: 0;
  background-color: inherit;
}

.fireimg:not(.inactive) {
  filter: grayscale(0%) !important;
}

#bg1-wrapper {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0 0 0 0;
  display: block;
}

#bg1 {
  background-position: 50% 0px;
  background: url("../img/sg2.jpeg") 25% 40px no-repeat fixed;
  color: white;
  height: 600px;
  width: auto;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.bannerText {
  padding-top: 100px;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  padding-left: 20px;
}

.bannerText1 {
  padding-top: 10px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-left: 20px;
}

.teamIntro {
  text-align: center;
  margin-top: 10px;
}

.teamIntro1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.teamName {
  color: #00cfef;
  padding-top: 10px;
}

.story {
  margin: 0 auto;
  width: 60%;
  height: auto;
  font-family: "Raleway", sans-serif;
}

.teamIntro2 {
  text-align: center;
  color: #00cfef;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

.myCard {
  width: 20rem;
  margin: 0 auto;
}

.myCardDeck {
  margin-top: 30px;
  display: flex;
  column-gap: 5px;
}

.card-title {
  font-family: "Raleway", sans-serif;
  color: #00cfef;
  font-weight: 300;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.cardImage {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
}

#content>ol, #content>ul {
  border: 2px solid black;
}

ol>li>a, ul>li>a {
  text-decoration: none;
}

#content>ol>li:not(:last-child), #content>ul> li:not(:last-child) {
  margin-bottom: 5px;
}

#homeSubmenu>li>a {
  text-decoration: none;
}

.active>a {
  /*color:red;*/
  text-decoration: none;
}
